  div:nth-child(1) {
    background: red;
  }
  div:nth-last-child(2) {
    background: #ab82ff;
  }
  li:nth-of-type(1) {
    color: green;
  }
  li:nth-last-of-type(1) {
    color: yellow;
  }
  div:last-child {
    background: orange;
  }
  div:first-of-type {
    border: solid 5px green;
  }
  div:last-of-type {
    border: solid 5px brown;
  }
  p:only-child {
    font-size: 30px;
  }
  ul:only-of-type {
    text-decoration: underline;
  }
  :target{
    color:green;
    font-weight: bold;
  }
  ::selection{
    color: red; 
  }
  :empty{
    border:solid 1px;
    height:50px;
    background:gray;
  }
  input:checked{ 
    text-decoration:underline; 
  }  
  h1{
    font-family:"Courier New"; 
  }
  :no(h1){
    font-family:"Arial";
  }
  input-span{ 
    color: orange;
  }
  input:disabled{
    border: solid 1px red; 
    background-color: silver;
    height:25px;
   }
  input:enabled{
    border: solid 1px blue;
    background-color: fff;
    height:25px
  }
